Hi {{name}},

Your web site "k4momo.pythonanywhere.com" for account k4momo is about to expire. We will stop serving the site in 7 days.

Click here to bump the expiry date by another month, and your site will stay online. This won't cost anything, it's still a free service -- we're just making sure we're not hosting sites that people no longer want to have.

If you don't do anything, the site will no longer be served up -- but you can always reactivate it by clicking the link above.

All the best,

The PythonAnywhere team

PythonAnywhere: Develop and host Python from your browser
www.pythonanywhere.com